{
    "async": true,
    "schemaVersion": "1.0.0",
    "class": "Device",
    "Common": {
        "class": "Tenant",
        "myProvisioning": {
            "asm": "nominal",
            "apm": "nominal",
            "dns": "nominal",
            "ltm": "nominal",
            "class": "Provision"
        }
    }
}
